/* Variables */
:root {
  --bg-wrp: #fafaf9;
  --bg-crd: #fff;
  --bg-bdy: #e5eaf0;
  --bg-tag: #e6d6fc;
  --cl-tag: #883ae1;
  --cl-hdr: #20293a;
  --cl-txt: #6c727f;
  --size-title: 1.125rem;
  --size-body: 0.875rem;
  --size-small: 0.75rem;
  --size-tag: 0.625rem;
  --weight-title: 700;
  --weight-body: 350;
  --weight-tag: 800;
  --weight-small: 500;
  --padding-inline: 1rem;
  --border-radius: 15px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-wrp: #6c727f;
    --bg-crd: #20293a;
    --bg-tag: #883ae1;
    --cl-tag: #e6d6fc;
    --cl-hdr: #fff;
    --cl-txt: #e5eaf0;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background: var(--bg-bdy);
}

.card {
  display: grid;
  gap: 0.4rem;
  box-shadow: 0 30px 100px 0 #1117290d;
  border-radius: var(--border-radius);
  background: var(--bg-crd);
  width: min-content;
  min-width: 360px;
}

.card-content-title {
  margin: 0;
  color: var(--cl-hdr);
}

.card-content-body {
  margin: 0.6rem 0 0;
  color: var(--cl-txt);
}

.card-name {
  border-top: 0.5px solid var(--cl-txt);
  padding: 1.2rem var(--padding-inline);
  color: var(--cl-txt);
}

.img {
  border-radius: var(--border-radius);
  width: 100%;
  object-fit: contain;
}

.padding-inline {
  padding: var(--padding-inline);
}

.sora-title {
  font-style: normal;
  font-weight: var(--weight-title);
  font-size: var(--size-title);
  font-family: Sora, sans-serif;
  font-optical-sizing: auto;
}

.sora-body {
  font-style: normal;
  font-weight: var(--weight-body);
  font-size: var(--size-body);
  font-family: Sora, sans-serif;
  font-optical-sizing: auto;
}

.sora-small {
  font-style: normal;
  font-weight: var(--weight-small);
  font-size: var(--size-small);
  font-family: Sora, sans-serif;
  font-optical-sizing: auto;
}

.sora-tag {
  font-style: normal;
  font-weight: var(--weight-tag);
  font-size: var(--size-tag);
  font-family: Sora, sans-serif;
  font-optical-sizing: auto;
}

.tag {
  border-radius: var(--border-radius);
  background: var(--bg-tag);
  padding: 0.3rem 1rem;
  color: var(--cl-tag);
}

.tag-line {
  padding-top: 0;
  padding-bottom: 0;
}

.wrapper {
  display: grid;
  place-items: center;
  background: var(--bg-wrp);
  width: 90%;
  height: 90%;
}
